* {
   font-family: "Arial", "Georgia", "sans-serif"
   box-sizing: border-box;
}

header {
    border: 1px black solid;
    text-align : center;
}
header h1 {
    display: inline-block;
    margin: 0
}
header nav {
    display: inline-block;
    float: right;
    padding-top: 10px;
    padding-bottom: 10px;
}
header nav a {
    text-decoration: none;
    color: black;
    margin: 4px;
}

#accueil {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.bouton {
    color: black;
    text-decoration: none;
    font-size: small;
    background-color: white;
    border: 1px black solid;
    border-radius: 7px;
    padding: 5px 10px 5px 10px;
}

#inscription {
    margin-top: 20px;
    text-align: center;
}
#inscription h1 {
    margin-top: 50px;
    margin-bottom: 30px;
}

#connexion {
    margin-top: 20px;
}
#connexion h1 {
    text-align: center;
}
#connexion form {
    text-align: right;
}

#formulaire_inscription h1, #page_abonnements, #page_désabonnement {
    text-align: center;
}

#suivre_user, #abonnements, #abonnes {
    margin-top: 30px;
}
#abonnements ul, #abonnes ul {
    list-style-type: none;
}
#abonnements li, #abonnes li {
    padding: 5px;
}

#flux, #créer_ticket {
    text-align: center;
}
#flux_boutons {
    margin-top: 20px;
    margin-bottom: 20px;
}
#flux_boutons .bouton {
    margin-right: 50px;
}
.ticket {
    border: 1px black solid;
    margin-bottom: 10px;
    margin-left: 25%;
    margin-right: 25%;
    text-align: left;
    padding-left: 1%;
}
.ticket .user {
    margin-bottom: 0;
}
.ticket .date {
    font-size: small;
    text-align: right;
    padding-right: 1%;
    margin-top: 0;
    margin-bottom: 0;
}
.ticket .titre {
    margin-top: 0;
    font-weight: bold;
}
.ticket img {
    display: block;
    margin: auto;
}
.ticket .bouton {
    display: block;
    margin-top: 0;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-left: 86.5%;
    text-align: right;
}