{% extends "base.html" %}
{% block content %}
<div id="page_abonnements">
    <section id="suivre_user">
        <h2>Suivre d'autres utilisateurs</h2>
        <form method="post" novalidate>  <!-- supprimer le novalidate -->
            {% csrf_token %}
            {{ form }}
            <button class="bouton" type="submit">Envoyer</button>
        </form>
    </section>
    <section id="abonnements">
        <h2>Abonnements</h2>
        <ul>
            {% if abonnements %}
                {% for abonnement in abonnements %}
                    {% if user == abonnement.user %}
                        <li>
                            {{ abonnement.user_suivi.username }}
                            <a class="bouton"
                               href="{% url 'désabonnement' abonnement.id %}">
                                Se désabonner</a>
                        </li>
                    {% endif %}
                {% endfor %}
            {% else %}
                <li>vous n'êtes abonné à personne</li>
            {% endif %}
        </ul>
    </section>
    <section id="abonnes">
        <h2>Abonnés</h2>
        <ul>
            {% if abonnés %}
                {% for abonné in abonnés %}
                    <li>
                        {{ abonné.user.username }}
                    </li>
                {% endfor %}
            {% else %}
                <li>personne ne s'est abonné à vous pour le moment</li>
            {% endif %}
        </ul>
    </section>
</div>

{% endblock content %}
