{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
<div id="flux">
    <section id="flux_boutons">
        <a class="bouton" href="{% url 'creer_ticket' %}">
            Demander une critique</a>
        <a class="bouton" href="{% url 'creer_critique' %}">
            Créer une critique</a>
    </section>
    <section>
        {% for instance in tickets_et_critiques %}
            {% if instance|model_type == "Ticket" %}
                <article class="ticket">
                    {% include "partials/ticket.html" with ticket=instance %}
                    <div>
                        <a class="bouton"
                           href="{% url 'creer_critique_reponse' instance.id%}"
                        >Créer une critique</a>
                    </div>
                </article>
            {% elif instance|model_type == "Critique" %}
                <article class="critique">
                {% include "partials/critique.html" with critique=instance %}
                </article>
            {% endif %}
        {% endfor %}
    </section>
</div>

{% endblock content %}
