{% extends "base.html" %}
{% block content %}
<div id="flux">
    <section id="flux_boutons">
        <a class="bouton" href="{% url 'creer_ticket' %}">
            Demander une critique</a>
        <a class="bouton" href="{% url 'creer_critique' %}">Créer une critique</a>
    </section>
    <section>
        {% for ticket in tickets %}
            <article class="ticket">
                <p class="user">{{ ticket.user }} a demandé une critique</p>
                <p class="date">{{ ticket.date }}</p>
                <p class="titre">{{ ticket.titre }}</p>
                <p>{{ ticket.description }}</p>
                {% if ticket.image %}
                    <img src="{{ ticket.image.url }}">
                {% endif %}
                <div>
                    <a class="bouton" href="#">Créer une critique</a>
                </div>
            </article>
        {% endfor %}
        {% for critique in critiques %}
            <article class="critique">
                <p class="user">{{ critique.user }} a publié une critique</p>
                <p class="date">{{ critique.date }}</p>
                <p class="entete">{{ critique.entete }}</p>
                {% if critique.note == 0 %}
                    <p class="note">&#9734 &#9734 &#9734 &#9734 &#9734</p>
                {% elif critique.note == 1 %}
                    <p class="note">&#9733 &#9734 &#9734 &#9734 &#9734</p>
                {% elif critique.note == 2 %}
                    <p class="note">&#9733 &#9733 &#9734 &#9734 &#9734</p>
                {% elif critique.note == 3 %}
                    <p class="note">&#9733 &#9733 &#9733 &#9734 &#9734</p>
                {% elif critique.note == 4 %}
                    <p class="note">&#9733 &#9733 &#9733 &#9733 &#9734</p>
                {% elif critique.note == 5 %}
                    <p class="note">&#9733 &#9733 &#9733 &#9733 &#9733</p>
                {% endif %}
                <p>{{ critique.commentaire }}</p>
            </article>
        {% endfor %}
    </section>
</div>

{% endblock content %}
