{% extends "base.html" %}
{% load blog_extras %}
{% block content %}
<div id="posts">
    <h2>Vos posts</h2>
    {% for instance in page %}
        {% if instance|model_type == "Ticket" %}
            <article class="ticket">
            {% include "partials/ticket.html" with ticket=instance %}
                <div>
                    <a class="bouton"
                       href="{% url 'modifier_ticket' instance.id %}">
                        Modifier</a>
                </div>
            </article>
        {% elif instance|model_type == "Critique" %}
            <article class="critique">
                {% include "partials/critique.html" with critique=instance %}
                <article class="ticket">
                    {% include "partials/ticket.html" with ticket=instance.ticket %}
                </article>
                <div>
                    <a class="bouton"
                       href="{% url 'modifier_critique' instance.id %}">
                        Modifier</a>
                </div>
            </article>
        {% endif %}
    {% endfor %}
    <p>
        {% include "partials/pagination.html" %}
    </p>
</div>

{% endblock content %}
